@media only screen and (max-width:728px) {
    .navbar-nav {
        margin-top: 32px !important;
        margin-bottom: 32px !important;
        display: flex;
        flex-wrap: wrap !important;
        flex-direction: inherit !important
    }
    .navbar-nav .nav-link {
        font-size: 1.2em;
        display: inline-block;
        margin: 0 auto;
        width: 50%
    }
    .navbar-nav .nav-link .nav-link-container-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff
    }
    .navbar-nav .nav-link .nav-link-container-items span i {
        display: block
    }
    #tatuajes div.col a {
        width: 100%
    }
    #tatuajes div.col a img {
        width: 100%
    }
}