@media only screen and (max-width 728px)
	.navbar-nav
		margin-top 32px !important
		margin-bottom 32px !important
		display flex 
		flex-wrap wrap !important
		flex-direction inherit !important
		.nav-link 
			font-size 1.2em
			display inline-block
			margin 0 auto
			width 50%
			.nav-link-container-items
				display flex 
				flex-direction column
				justify-content center 
				align-items center
				color #fff		
				span 
					i 
						display block	
	#tatuajes
		div.col 
			a 
				width 100%
				img 
					width 100%

.navbar-nav
	width 100%
	justify-content end
	.nav-link
		div 
			span 
				i 
					display none
	
footer 
	div.row 
		div.col 
			a 
				span 
					display flex
					flex-direction row
					i 
						margin-right 12px
	
#Contacto
	.col-md-6
		p 
			font-size 1.2em
		i 
			font-size 1.2em
		span 
			font-size 1.2em