@media only screen and (max-width 728px)
	#myTopnav
		a.display-4
			font-size 2.5em !important

	.fondo-principal.align-items-end
		align-items center !important
		div
			h1.titulo-estilo 
				font-size 3em !important
				text-shadow 1px 1px 1px #000
			p 
				font-size size	
				
	.seccion-general
		border-right-style none
	#nosotros
		section.p-5
			padding-top 2rem !important
			padding-left 1rem !important
			padding-right 1rem !important
			i 
				margin 1rem !important
	
	.cuerpo-estilo
		margin-right 0 !important
		margin-left 0 !important
	
	#carta
		div.row
			margin-right 0 !important
			margin-left 0 !important	
			.fondoPizaron 
				margin-right 0 !important
				margin-left 0 !important